.pet {
  margin: 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.petImage {
    height: 150px;
    border: solid white 3px;
    border-radius: 15px;
}

.petName {
  background-color: blueviolet;
  border: solid white 3px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-top: -15px;
}