.pet {
  height: 200px;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.petImage {
    height: 150px;
    border: solid cornsilk 3px;
    border-radius: 15px;
}

.petName {
  background-color: #1b5783;
  border: solid cornsilk 3px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: cornsilk;
  margin-top: -15px;
}