.containerServices {
    background-color: rgba(255,255,255,0.2);
    display: grid;
    grid-template-columns: 2fr 0.5fr 4fr;
    margin: 20px;
    border-radius: 15px;
}

.description {
    text-align: left;
    align-content: center;
    margin: 0px 20px
}