.container {
    /* background-color: aqua; */
    color: cornsilk;
    width: 100%;
    margin: 2rem;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
    /* flex-direction: column; */
    align-items: center;
}