.container {
    margin-top: 15px;
    padding-top: 15px;
    color:cornsilk;
    border-top: solid;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}