.container {
  width: 95vw;
  margin-top: 20px;
  color: cornsilk;
  display: flex;
  align-items: center;
  border-bottom: solid;
}

.logoname {
  margin-left: 10px;
  width: 40vw;
  display: flex;
  align-items: center;
  align-self: self-start;
  justify-content: center;
}

.userMenu {
  width: 60%;
}

.user {
  height: 50%;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: right;
}

.userName {
  border-bottom: solid 1px;
  margin-bottom: -20px;
}

.menu {
  margin-right: 10px;
  display: flex;
  justify-content: end;
}

.menuLink {
  margin-left: 20px;
  margin-right: 20px;
}

.menuLink:hover {
  color:rgb(10, 17, 72);
}