.logo {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.container {
    width: 100vw;
    margin-top: 20px;
    color:cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
}

.container ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.container ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.container ul li a {
    text-decoration: none;
    color:cornsilk;
}

.logoname {
    margin-left:10px;
    width: 20vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content:space-around
}

.menu {
    margin-right: 10px;
    display:flex;
    align-self: flex-end;
}
